# Table of Contents
* Dropping Columns in a DataFrame
* Changing the Index of a DataFrame
* Tidying up Fields in the Data
* Combining str Methods with NumPy to Clean Columns
* Cleaning the Entire Dataset Using the applymap Function
* Renaming Columns and Skipping Rows
* Python Data Cleaning: Recap and Resources

Data scientists spend a large amount of their time cleaning datasets and getting them down to a form with which they
can work. In fact, a lot of data scientists argue that the initial steps of obtaining and cleaning data constitute 80% of the
job.
Therefore, if you are just stepping into this field or planning to step into this field , it is important to be able to deal with
messy data, whether that means missing values, inconsistent formatting, malformed records, or nonsensical outliers.
In this tutorial, we’ll leverage Python’s Pandas and NumPy libraries to clean data.
We’ll cover the following:
Dropping unnecessary columns in a DataFrame
Changing the index of a DataFrame
Using .str() methods to clean columns
Using the DataFrame.applymap() function to clean the entire dataset, element-wise
Renaming columns to a more recognizable set of labels
Skipping unnecessary rows in a CSV file

# import the required modules and get started!

In [1]:
import pandas as pd
import numpy as np

# <b style="color:blue">Dropping Columns in a DataFrame:</b>
Often, you’ll find that not all the categories of data in a dataset are useful to you. For example, you might have a dataset
containing student information (name, grade, standard, parents’ names, and address) but want to focus on analyzing
student grades.
In this case, the address or parents’ names categories are not important to you. Retaining these unneeded categories
will take up unnecessary space and potentially also bog down runtime.
Pandas provides a handy way of removing unwanted columns or rows from a DataFrame with the drop() function. Let’s
look at a simple example where we drop a number of columns from a DataFrame.
First, let’s create a DataFrame out of the CSV file ‘BL-Flickr-Images-Book.csv’. In the examples below, we pass a relative
path to pd.read_csv, meaning that all of the datasets are in a folder named Datasets in our current working directory:

# Load the dataset

In [2]:
dataset = pd.read_csv('../input/data-cleaning/BL-Flickr-Images-Book.csv')
dataset.head()

,Identifier,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
0,206,NaN,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,216,NaN,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
2,218,NaN,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
3,472,NaN,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
4,480,"A new edition, revised, etc.",London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.

In [3]:
to_drop = ['Edition Statement',
                 'Corporate Author',
                 'Corporate Contributors',
                 'Former owner',
                 'Engraver',
                 'Contributors',
                 'Issuance type',
                 'Shelfmarks']

Above, we defined a list that contains the names of all the columns we want to drop. Next, we call the drop() function on
our object, passing in the inplace parameter as True and the axis parameter as 1. This tells Pandas that we want the
changes to be made directly in our object and that it should look for the values to be dropped in the columns of the
object.

When we inspect the DataFrame again, we’ll see that the unwanted columns have been removed:

In [4]:
dataset.head()

,Identifier,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
0,206,NaN,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,216,NaN,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
2,218,NaN,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
3,472,NaN,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
4,480,"A new edition, revised, etc.",London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.

Alternatively, we could also remove the columns by passing them to the columns parameter directly instead of
separately specifying the labels to be removed and the axis where Pandas should look for the labels:

In [5]:
dataset.drop(columns=to_drop, inplace = True)

In [6]:
dataset.head()

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
0,206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
1,216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
2,218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
3,472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
4,480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...

# <b style="color:blue">Changing the Index of a DataFrame:</b>

In [7]:
dataset['Identifier'].is_unique

True

In [8]:
dataset = dataset.set_index('Identifier')
dataset.head()

,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
Identifier,,,,,,
206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...

We can access each record in a straightforward way with loc[]. Although loc[] may not have all that intuitive of a
name, it allows us to do label-based indexing, which is the labeling of a row or record without regard to its position:

In [9]:
dataset.iloc[206]

Place of Publication                                               London
Date of Publication                                                  1848
Publisher                                                 Richard Bentley
Title                   Rambles in the romantic regions of the Hartz M...
Author                                   Andersen, H. C. (Hans Christian)
Flickr URL              http://www.flickr.com/photos/britishlibrary/ta...
Name: 77554, dtype: object

# <b style="color:blue">Tidying up Fields in the Data:</b>

So far, we have removed unnecessary columns and changed the index of our DataFrame to something more sensible. In
this section, we will clean specific columns and get them to a uniform format to get a better understanding of the
dataset and enforce consistency. In particular, we will be cleaning Date of Publication and Place of Publication.
Upon inspection, all of the data types are currently the object dtype, which is roughly analogous to str in native
Python.
It encapsulates any field that can’t be neatly fit as numerical or categorical data. This makes sense since we’re working
with data that is initially a bunch of messy strings:

In [10]:
dataset.dtypes

Place of Publication    object
Date of Publication     object
Publisher               object
Title                   object
Author                  object
Flickr URL              object
dtype: object

In [11]:
dataset.loc[1905:, 'Date of Publication'].head()

Identifier
1905           1888
1929    1839, 38-54
2836           1897
2854           1865
2956        1860-63
Name: Date of Publication, dtype: object

In [12]:
extr = dataset['Date of Publication'].str.extract(r'^(d{4})', expand = False)
extr.head()

Identifier
206    NaN
216    NaN
218    NaN
472    NaN
480    NaN
Name: Date of Publication, dtype: object

# <b style="color:blue">Combining str Methods with NumPy to Clean Columns: </b>

In [13]:
dataset['Place of Publication'].head(10)

Identifier
206                                  London
216                London; Virtue & Yorston
218                                  London
472                                  London
480                                  London
481                                  London
519                                  London
667     pp. 40. G. Bryan & Co: Oxford, 1898
874                                 London]
1143                                 London
Name: Place of Publication, dtype: object

In [14]:
dataset.loc[4157862]

Place of Publication                                  Newcastle-upon-Tyne
Date of Publication                                                  1867
Publisher                                                      T. Fordyce
Title                   Local Records; or, Historical Register of rema...
Author                      FORDYCE, T. - Printer, of Newcastle-upon-Tyne
Flickr URL              http://www.flickr.com/photos/britishlibrary/ta...
Name: 4157862, dtype: object

In [15]:
pub = dataset['Place of Publication']
london = pub.str.contains('London')
london[:5]

Identifier
206    True
216    True
218    True
472    True
480    True
Name: Place of Publication, dtype: bool

In [16]:
 dataset['Place of Publication'].head()

Identifier
206                      London
216    London; Virtue & Yorston
218                      London
472                      London
480                      London
Name: Place of Publication, dtype: object

# <b style="color:blue">Cleaning the Entire Dataset Using the applymap Function:</b>

In certain situations, you will see that the “dirt” is not localized to one column but is more spread out.
There are some instances where it would be helpful to apply a customized function to each cell or element of a
DataFrame. Pandas .applymap() method is similar to the in-built map() function and simply applies a function to all the
elements in a DataFrame.
Let’s look at an example. We will create a DataFrame out of the “university_towns.txt” file:

In [17]:
university_towns = []
with open('../input/data-cleaning/university_towns.txt') as file:
    for line in file:
        if '[edit]' in line:
            # Remember this `state` until the next is found
            state = line
        else:
            # Otherwise, we have a city; keep `state` as last-seen
            university_towns.append((state, line))

In [18]:
university_towns[:5]

[('Alabama[edit]\n', 'Auburn (Auburn University)[1]\n'),
 ('Alabama[edit]\n', 'Florence (University of North Alabama)\n'),
 ('Alabama[edit]\n', 'Jacksonville (Jacksonville State University)[2]\n'),
 ('Alabama[edit]\n', 'Livingston (University of West Alabama)[2]\n'),
 ('Alabama[edit]\n', 'Montevallo (University of Montevallo)[2]\n')]

In [19]:
towns_df = pd.DataFrame(university_towns,
                        columns=['State', 'RegionName'])
towns_df.head()

             State                                         RegionName
0  Alabama[edit]\n                    Auburn (Auburn University)[1]\n
1  Alabama[edit]\n           Florence (University of North Alabama)\n
2  Alabama[edit]\n  Jacksonville (Jacksonville State University)[2]\n
3  Alabama[edit]\n       Livingston (University of West Alabama)[2]\n
4  Alabama[edit]\n         Montevallo (University of Montevallo)[2]\n

While we could have cleaned these strings in the for loop above, Pandas makes it easy. We only need the state name and
the town name and can remove everything else. While we could use Pandas’ .str() methods again here, we could also
use applymap() to map a Python callable to each element of the DataFrame.

In [20]:
def get_citystate(item):
    if ' (' in item:
        return item[:item.find(' (')]
    elif '[' in item:
        return item[:item.find('[')]
    else:
        return item

In [21]:
towns_df = towns_df.applymap(get_citystate)

In [22]:
towns_df.head()

     State    RegionName
0  Alabama        Auburn
1  Alabama      Florence
2  Alabama  Jacksonville
3  Alabama    Livingston
4  Alabama    Montevallo

# <b style="color:blue"> Renaming Columns and Skipping Rows:</b>
Often, the datasets you’ll work with will have either column names that are not easy to understand, or unimportant
information in the first few and/or last rows, such as definitions of the terms in the dataset, or footnotes.

In [23]:
olympics_df = pd.read_csv('../input/data-cleaning/olympics.csv')
olympics_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,? Summer,01 !,02 !,03 !,Total,? Winter,01 !,02 !,03 !,Total,? Games,01 !,02 !,03 !,Combined total
1,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12

In [24]:
olympics_df = pd.read_csv('../input/data-cleaning/olympics.csv', header = 1)
olympics_df.head()

,Unnamed: 0,? Summer,01 !,02 !,03 !,Total,? Winter,01 !.1,02 !.1,03 !.1,Total.1,? Games,01 !.2,02 !.2,03 !.2,Combined total
0,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
1,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
2,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
3,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
4,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [25]:
new_names = {'Unnamed: 0': 'Country',
        '? Summer': 'Summer Olympics',
        '01 !': 'Gold',
        '02 !': 'Silver',
        '03 !': 'Bronze',
        '? Winter': 'Winter Olympics',
        '01 !.1': 'Gold.1',
        '02 !.1': 'Silver.1',
        '03 !.1': 'Bronze.1',
        '? Games': '# Games',
        '01 !.2': 'Gold.2',
        '02 !.2': 'Silver.2',
        '03 !.2': 'Bronze.2'}

In [26]:
olympics_df.rename(columns=new_names, inplace=True)

In [27]:
olympics_df.head()

,Country,Summer Olympics,Gold,Silver,Bronze,Total,Winter Olympics,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
0,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
1,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
2,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
3,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
4,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12